In [137]:
# https://towardsdatascience.com/10-techniques-to-speed-up-python-runtime-95e213e925dc

import pandas as pd
import numpy as np

# TODO import synergies

imported_data_df = pd.read_json('data/champ_data.json')

wins_lane = 0
loses_lane = 1
best_with = 2
wins_more_against = 3
loses_more_against = 4

# //
imported_data_df

,Aatrox,Ahri,Akali,Akshan,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,...,Yone,Yorick,Yuumi,Zac,Zed,Zeri,Ziggs,Zilean,Zoe,Zyra
0,"[[Nasus, +1,203], [Kayle, +1,063], [Gragas, +1...","[[Zilean, +648], [Galio, +548], [Malzahar, +49...","[[Kayle, +547], [Malphite, +508], [Shen, +501]...","[[Malzahar, +894], [Kassadin, +885], [Sylas, +...",[],[],"[[Kassadin, +444], [Vladimir, +341], [Vex, +33...",[],"[[Vayne, +256], [Kai'Sa, +212]]",[],...,"[[Shen, +722], [Nasus, +706], [Malzahar, +613]...","[[Shen, +515], [Nasus, +440], [Camille, +208],...",[],"[[Rammus, +255]]","[[Kassadin, +1,043], [Twisted Fate, +743], [Ve...","[[Ashe, +265], [Kai'Sa, +240], [Ziggs, +179], ...",[],"[[Rakan, +246]]","[[Sylas, +360], [LeBlanc, +306], [Vex, +282], ...","[[Soraka, +657], [Thresh, +650], [Janna, +647]..."
1,"[[Irelia, -442], [Renekton, -226]]","[[Irelia, -436], [Zed, -433], [Yasuo, -422], [...","[[Renekton, -797], [Gangplank, -720], [Riven, ...","[[Irelia, -546], [Yasuo, -332], [Irelia, -285]]","[[Senna, -881], [Xerath, -881], [Pyke, -819], ...","[[Diana, -693], [Hecarim, -656], [Master Yi, -...","[[Zed, -318], [Irelia, -311], [Yasuo, -294], [...","[[Yasuo, -411], [Vex, -316], [Yone, -283], [Ah...","[[Draven, -659], [Lucian, -351], [Xayah, -316]...","[[Draven, -886], [Samira, -614], [Twitch, -461...",...,"[[Renekton, -1,020], [Gangplank, -864], [Sett,...","[[Irelia, -881], [Sett, -519], [Darius, -248],...","[[Senna, -912], [Pyke, -893], [Zyra, -640], [P...","[[Rengar, -920], [Master Yi, -793], [Diana, -7...","[[Irelia, -321]]","[[Draven, -662], [Kalista, -652], [Tristana, -...","[[Jhin, -253], [Caitlyn, -195], [Zeri, -179]]","[[Yasuo, -1,067], [Senna, -795], [Pyke, -705],...","[[Yasuo, -213], [Akshan, -210]]","[[Pyke, -316], [Xerath, -151]]"
2,"[[Fizz, +8.8%], [Lissandra, +6.9%], [Nidalee, ...","[[Nunu & Willump, +6.2%], [Janna, +5.7%], [Vol...","[[Nasus, +8.8%], [Kayle, +8.2%], [Mordekaiser,...","[[Fiddlesticks, +9.4%], [Zyra, +7.3%], [Lux, +...","[[Zeri, +6.5%], [Shaco, +6.0%], [Riven, +6.0%]...","[[Garen, +5.1%], [Jinx, +4.6%], [Leona, +4.1%]...","[[Garen, +6.5%], [Twitch, +6.4%], [Zac, +6.3%]...","[[Janna, +8.5%], [Kayn, +6.2%], [Pyke, +6.0%],...","[[Ekko, +7.1%], [Lissandra, +6.4%], [Sona, +6....","[[Soraka, +8.4%], [Xerath, +6.3%], [Zac, +6.2%...",...,"[[Xerath, +6.1%], [Nunu & Willump, +6.0%], [Dr...","[[Pyke, +7.8%], [Blitzcrank, +7.6%], [Senna, +...","[[Singed, +10.5%], [Xayah, +7.0%], [Fiddlestic...","[[Anivia, +7.4%], [Janna, +6.5%], [Vayne, +5.7...","[[Warwick, +8.3%], [Cho'Gath, +8.1%], [Teemo, ...","[[Wukong, +5.6%], [Kled, +5.0%], [Nunu & Willu...","[[Fiora, +5.0%], [Master Yi, +4.5%], [Lulu, +4...","[[Garen, +7.8%], [Anivia, +5.3%], [Vladimir, +...","[[Diana, +5.7%], [Blitzcrank, +5.0%], [Irelia,...","[[Nunu & Willump, +12.1%], [Akshan, +6.7%], [N..."
3,"[[Nasus, +7.3%], [Gragas, +6.3%], [Gangplank, ...","[[Vel'Koz, +6.8%], [Ryze, +5.6%], [Twisted Fat...","[[Cassiopeia, +6.8%], [Yone, +6.2%], [Orianna,...","[[Syndra, +11.3%], [Kassadin, +8.5%], [Jayce, ...","[[Thresh, +4.3%], [Leona, +3.2%], [Nautilus, +...","[[Graves, +4.4%], [Viego, +3.4%], [Master Yi, ...","[[Syndra, +11.8%], [Akshan, +7.6%], [Irelia, +...","[[Yasuo, +2.7%]]","[[Varus, +10.4%], [Samira, +3.9%], [Caitlyn, +...","[[Aphelios, +7.3%], [Caitlyn, +6.1%], [Ezreal,...",...,"[[Gwen, +10.7%], [Malzahar, +6.4%], [Corki, +6...","[[Gangplank, +8.2%], [Darius, +3.2%], [Mordeka...","[[Morgana, +5.6%], [Xerath, +4.6%], [Swain, +4...","[[Amumu, +6.2%], [Rammus, +5.6%], [Fiddlestick...","[[Syndra, +7.1%], [Kassadin, +6.7%], [Corki, +...","[[Aphelios, +6.2%], [Samira, +3.6%], [Draven, ...","[[Caitlyn, +5.1%], [Ezreal, +4.1%], [Jinx, +2....","[[Yasuo, +5.1%], [Viktor, +3.4%], [Morgana, +3...","[[Vex, +5.9%], [Akali, +4.5%], [Lux, +3.5%], [...","[[Brand, +8.2%], [Yuumi, +5.0%], [Thresh, +3.2..."
4,"[[Wukong, -7.9%], [Malphite, -5.0%], [Garen, -...","[[Veigar, -5.1%], [Annie, -4.2%], [Akshan, -3....","[[Kayle, -7.3%], [Urgot, -6.7%], [Riven, -6.5%...","[[Anivia, -10.7%], [Vex, -5.6%], [Yasuo, -4.8%...","[[Janna, -8.2%], [Xerath, -8.0%], [Soraka, -4....","[[Zac, -6.1%], [Hecarim, -4.4%], [Jarvan IV, -...","[[Fizz, -7.0%], [Ahri, -5.8%], [Qiyana, -5.2%]...","[[Yone, -4.1%], [Vex, -2.8%], [Katarina, -2.2%...","[[Zeri, -3.0%], [Miss Fortune, -2.5%], [Twitch...","[[Twitch, -3.3%], [Zeri, -3.2%], [Vayne, -3.2%]]",...,"[[Shen, -5.1%], [Ahri, -4.8%], [Urgot, -4.8%],...","[[Gwen, -6.0%], [Nasus, -5.9%], [Shen, -5.8%],...","[[Rell, -6.2%], [Zyra, -4.7%], [Nautilus, -4.5...","[[Vi, -5.9%], [Kayn, -5.7%], [Warwick, -5.7%],...","[[Master Yi, -7.0%], [Cassiopeia, -4.8%], [Vie...","[[Twitch, -2.2%], [Vayne, -1.8%], [Tristana, -...","[[Ahri, -6.0%], [Kai'Sa, -4.3%], [Zeri, -2.4%]...","[[Soraka, -7.1%], [Senna, -5.6%], [Janna, -5.1...","[[Vladimir, -4.9%], [Akshan, -4.8%], [Qiyana, ...","[[Sona, -9.8%], [Pyke, -6.1%], [Blitzcrank, -5..."

In [138]:
#transposes df, pulls only "best with" column, expands
temp = imported_data_df.T[best_with].explode().to_frame().reset_index().rename(columns={'index':'champion'})
# TODO: either add this as necessary too all var's
del imported_data_df
#//
temp

    champion                         2
0     Aatrox             [Fizz, +8.8%]
1     Aatrox        [Lissandra, +6.9%]
2     Aatrox          [Nidalee, +5.5%]
3     Aatrox               [Vi, +5.5%]
4     Aatrox            [Leona, +4.2%]
..       ...                       ...
754     Zyra  [Nunu & Willump, +12.1%]
755     Zyra           [Akshan, +6.7%]
756     Zyra            [Nasus, +5.6%]
757     Zyra             [Jhin, +5.4%]
758     Zyra            [Shaco, +4.9%]

[759 rows x 2 columns]

In [139]:
temp2 = temp.join(pd.DataFrame(temp[best_with].to_list(),columns=['other_champion','synergy'])).drop(best_with,axis=1)
temp2['synergy'] = temp2['synergy'].str.rstrip('%').astype('float')/100.0
# TODO
del temp
#//
temp2

    champion  other_champion  synergy
0     Aatrox            Fizz    0.088
1     Aatrox       Lissandra    0.069
2     Aatrox         Nidalee    0.055
3     Aatrox              Vi    0.055
4     Aatrox           Leona    0.042
..       ...             ...      ...
754     Zyra  Nunu & Willump    0.121
755     Zyra          Akshan    0.067
756     Zyra           Nasus    0.056
757     Zyra            Jhin    0.054
758     Zyra           Shaco    0.049

[759 rows x 3 columns]

In [140]:
from itertools import combinations
from itertools import permutations
import json
convert = json.load(open('data/champ_full_to_codename.json', 'r'))

In [141]:
#ensure all names are codenames
synergy_df = temp2.copy()
for i in range(len(temp2)):
    synergy_df['other_champion'][i] = convert[temp2['other_champion'].iloc[i]]
# synergy_df = temp2
# TODO
del convert, temp2
#//
synergy_df

C:\Users\jonfr\AppData\Local\Temp/ipykernel_2964/2921513733.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  synergy_df['other_champion'][i] = convert[temp2['other_champion'].iloc[i]]

    champion other_champion  synergy
0     Aatrox           Fizz    0.088
1     Aatrox      Lissandra    0.069
2     Aatrox        Nidalee    0.055
3     Aatrox             Vi    0.055
4     Aatrox          Leona    0.042
..       ...            ...      ...
754     Zyra           Nunu    0.121
755     Zyra         Akshan    0.067
756     Zyra          Nasus    0.056
757     Zyra           Jhin    0.054
758     Zyra          Shaco    0.049

[759 rows x 3 columns]

In [142]:
import random
all_champs = json.load(open('data/all_champs.json', 'r'))

In [156]:
random.seed(44)
champs_1 = random.choices(all_champs,k=10)
champs_2 = random.choices(all_champs,k=10)
champs_3 = random.choices(all_champs,k=10)
champs_4 = random.choices(all_champs,k=10)
champs_5 = random.choices(all_champs,k=10)
#
# del all_champs

In [165]:
# https://stackoverflow.com/questions/19744542/itertools-product-eliminating-repeated-elements
# gives all unique combinations of multiple lists
def uprod(*seqs):
    def inner(i):
        if i == n:
            yield tuple(result)
            return
        for elt in sets[i] - seen:
            seen.add(elt)
            result[i] = elt
            for t in inner(i+1):
                yield t
            seen.remove(elt)

    sets = [set(seq) for seq in seqs]
    n = len(sets)
    seen = set()
    result = [None] * n
    for t in inner(0):
        yield t

pared_champs_combos = uprod(champs_1,champs_2,champs_3,champs_4,champs_5)
# pared_champs_combos = list(uprod(champs_1,champs_2,champs_3,champs_4,champs_5))

# TODO should be a factor 
# len(pared_champs_combos)

In [158]:
all_combo_scores = list()
idx = 0
for combo in pared_champs_combos:

    #instantiate an empty list for the given champ combo
    all_combo_scores.append(list())

    # ? currently ~80-90 seconds per 10000 combos
    # //
    if idx == 10:
        break

    for champ1, champ2 in permutations(combo,2):
        try:
            synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
            all_combo_scores[idx].append(synergy_score)
        except:
            continue
    idx += 1
    # for champ1 in combo:
    #     for champ2 in combo:
    #         try:
    #             synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
    #             all_combo_scores[idx].append(synergy_score)
    #         except:
    #             continue


combo_score_sums_w_index = [(sum(scores),idx) for idx, scores in enumerate(all_combo_scores)]

#free up memory
del all_combo_scores

#sorts by descending order
combo_score_sums_w_index.sort(key = lambda x: x[0], reverse=True)

pared_champs_combos = list(pared_champs_combos)

for i in range(10):
    print("Combo: ", pared_champs_combos[combo_score_sums_w_index[i][1]], "\nScore: ",combo_score_sums_w_index[i][0])

# TODO combine scores with pared_champs and export variable to JSON
# TODO convert to function

Combo:  ('Nautilus', 'Zoe', 'Azir', 'Lucian', 'Nunu')
Score:  0.589
Combo:  ('Nautilus', 'Zoe', 'MissFortune', 'Lucian', 'Nunu')
Score:  0.542
Combo:  ('Nautilus', 'Zoe', 'Zac', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Xayah', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Camille', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Kindred', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Amumu', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Renekton', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Zeri', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Brand', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005

In [166]:
all_combo_scores = pd.DataFrame()
all_combo_scores['champs'] = None
all_combo_scores['scores'] = None
all_combo_scores['total_score'] = None
idx = 0
for combo in pared_champs_combos:

    # ? currently ~80-90 seconds per 10000 combos
    # //
    if idx == 100:
        break

    scores = list()
    for champ1, champ2 in permutations(combo,2):
        try:
            synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
            scores.append(synergy_score)
        except:
            continue
    # print(scores)
    idx += 1

    all_combo_scores = all_combo_scores.append({'champs':combo,'scores':scores,'total_score':sum(scores)},ignore_index=True)


all_combo_scores.sort_values('total_score',inplace=True,ascending=False)


all_combo_scores

,champs,scores,total_score
28,"(DrMundo, Kalista, Amumu, Soraka, Nunu)","[0.083, 0.083]",0.166
67,"(DrMundo, Kalista, Amumu, Fiddlesticks, Thresh)",[0.071],0.071
47,"(DrMundo, Kalista, Amumu, Hecarim, Quinn)",[0.064],0.064
15,"(DrMundo, Kalista, Amumu, Lucian, Shaco)",[0.062],0.062
78,"(DrMundo, Kalista, Amumu, Sion, Shaco)",[0.062],0.062
...,...,...,...
35,"(DrMundo, Kalista, Amumu, Soraka, Samira)",[],0
34,"(DrMundo, Kalista, Amumu, Soraka, Gragas)",[],0
32,"(DrMundo, Kalista, Amumu, Soraka, Udyr)",[],0
31,"(DrMundo, Kalista, Amumu, Soraka, Thresh)",[],0
99,"(DrMundo, Kalista, Renekton, Lucian, Rengar)",[],0

In [22]:
#idx break = 10000
#seed = 43

# Combo:  ('Anivia', 'Khazix', 'Rakan', 'Urgot', 'Karma') 
# Score:  0.35200000000000004
# Combo:  ('Anivia', 'TwistedFate', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.35000000000000003
# Combo:  ('Anivia', 'Vayne', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.34400000000000003
# Combo:  ('Diana', 'Braum', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.339
# Combo:  ('Anivia', 'Khazix', 'Rakan', 'Urgot', 'Volibear') 
# Score:  0.29400000000000004
# Combo:  ('Anivia', 'Evelynn', 'Khazix', 'Urgot', 'Vayne') 
# Score:  0.294
# Combo:  ('Anivia', 'Olaf', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Braum', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Kennen', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Khazix', 'Annie', 'Urgot', 'Karma') 
# Score:  0.288

In [163]:
cols = [''.join(['champ',str(i)]) for i in range(5)]
temp3 = all_combo_scores.join(pd.DataFrame(all_combo_scores['champs'].to_list(),columns=cols)).drop('champs',axis=1)
temp3

    scores total_score champ0 champ1 champ2        champ3    champ4
9  [0.071]       0.071   Nunu    Zoe   Azir  Fiddlesticks  Malphite
4  [0.066]       0.066   Nunu    Zoe   Azir     Seraphine      Udyr
7  [0.047]       0.047   Nunu    Zoe   Azir  Fiddlesticks    Rengar
0       []           0   Nunu    Zoe   Azir  Fiddlesticks    Thresh
1       []           0   Nunu    Zoe   Azir     Seraphine    Samira
2       []           0   Nunu    Zoe   Azir  Fiddlesticks     Quinn
3       []           0   Nunu    Zoe   Azir     Seraphine    Thresh
5       []           0   Nunu    Zoe   Azir     Seraphine     Shaco
6       []           0   Nunu    Zoe   Azir     Seraphine    Gragas
8       []           0   Nunu    Zoe   Azir  Fiddlesticks   Kalista

In [63]:
#team specific score lookup

champs = ['Lucian','Evelynn','Annie','Qiyana','Karma']
print(temp3[(temp3.champ0.isin(champs)) & (temp3.champ1.isin(champs)) & (temp3.champ2.isin(champs)) & (temp3.champ3.isin(champs)) & (temp3.champ4.isin(champs))])

                                  scores total_score  champ0   champ1 champ2  \
4134  [0.073, 0.08, 0.055, 0.064, 0.087]       0.359  Lucian  Evelynn  Annie

      champ3 champ4
4134  Qiyana  Karma