In [4]:
# https://towardsdatascience.com/10-techniques-to-speed-up-python-runtime-95e213e925dc

import pandas as pd
import numpy as np

# TODO import synergies

imported_data_df = pd.read_json('data/champ_data.json')

wins_lane = 0
loses_lane = 1
best_with = 2
wins_more_against = 3
loses_more_against = 4

# //
imported_data_df

,Aatrox,Ahri,Akali,Akshan,Alistar,Amumu,Anivia,Annie,Aphelios,Ashe,...,Yone,Yorick,Yuumi,Zac,Zed,Zeri,Ziggs,Zilean,Zoe,Zyra
0,"[[Shen, +1,044], [Nasus, +935], [Kayle, +912],...","[[Zilean, +742], [Galio, +609], [Kayle, +564],...","[[Malphite, +535], [Kayle, +487], [Shen, +392]...","[[Kassadin, +861], [Sylas, +613], [Jayce, +605...",[],[],"[[Kassadin, +339], [Vladimir, +303], [Vex, +23...",[],"[[Vayne, +268], [Veigar, +191], [Ziggs, +164]]",[],...,"[[Kayle, +829], [Shen, +789], [Nasus, +692], [...","[[Jayce, +602], [Shen, +567]]",[],"[[Rammus, +162]]","[[Zilean, +938], [Kassadin, +808], [Malzahar, ...","[[Kai'Sa, +262], [Ashe, +236], [Vayne, +226], ...",[],"[[Alistar, +262], [Rakan, +198], [Thresh, +180...","[[Corki, +394], [Sylas, +336], [Katarina, +199...","[[Nami, +720], [Thresh, +680], [Janna, +663], ..."
1,"[[Irelia, -416]]","[[Irelia, -420], [Yasuo, -404], [Zed, -385], [...","[[Renekton, -946], [Gangplank, -696], [Aatrox,...","[[Irelia, -434], [Yasuo, -219]]","[[Senna, -955], [Pyke, -857], [Xerath, -775], ...","[[Master Yi, -722], [Hecarim, -711], [Diana, -...","[[Irelia, -480], [Zed, -283], [Yasuo, -253]]","[[Yasuo, -467], [Viktor, -383], [Katarina, -31...","[[Draven, -596], [Tristana, -244], [Lucian, -2...","[[Draven, -826], [Miss Fortune, -476], [Caitly...",...,"[[Renekton, -1,009], [Sett, -712], [Gangplank,...","[[Tryndamere, -1,060], [Irelia, -938], [Sett, ...","[[Pyke, -881], [Senna, -829], [Zyra, -643], [B...","[[Graves, -785], [Diana, -772], [Rengar, -738]...","[[Irelia, -251]]","[[Draven, -694], [Kalista, -351], [Lucian, -25...","[[Jhin, -189], [Caitlyn, -173], [Aphelios, -16...","[[Yasuo, -1,123], [Zed, -938], [Ahri, -742], [...","[[Yasuo, -290], [Zed, -193]]","[[Xerath, -188], [Pyke, -171]]"
2,"[[Veigar, +6.8%], [Evelynn, +6.7%], [Soraka, +...","[[Kog'Maw, +7.2%], [Trundle, +5.3%], [Taric, +...","[[Gwen, +9.9%], [Quinn, +8.4%], [Shen, +6.7%],...","[[Fiddlesticks, +11.2%], [Sona, +9.9%], [Teemo...","[[Zac, +7.3%], [Ahri, +4.9%], [Zeri, +4.7%], [...","[[Fiora, +7.6%], [Janna, +4.7%], [Senna, +4.7%...","[[Darius, +8.2%], [Blitzcrank, +7.0%], [Trynda...","[[Vayne, +6.1%], [Zeri, +5.2%], [Yuumi, +5.1%]...","[[Dr. Mundo, +6.8%], [Kayle, +4.5%], [Warwick,...","[[Sona, +9.5%], [Soraka, +8.3%], [Darius, +6.9...",...,"[[Kassadin, +8.3%], [Cho'Gath, +8.1%], [Kog'Ma...","[[Vex, +5.3%], [Zeri, +4.9%], [Pyke, +4.7%], [...","[[Gwen, +7.0%], [Annie, +6.3%], [Ahri, +5.3%],...","[[Talon, +7.3%], [Alistar, +6.1%], [Garen, +5....","[[Dr. Mundo, +8.8%], [Rammus, +8.5%], [Urgot, ...","[[Galio, +6.8%], [Nunu & Willump, +5.7%], [Sor...","[[Qiyana, +8.1%], [Leona, +8.1%], [Blitzcrank,...","[[Qiyana, +8.0%], [Kassadin, +6.4%], [Kayn, +5...","[[Blitzcrank, +7.3%], [Garen, +6.7%], [Sett, +...","[[Qiyana, +7.4%], [Nunu & Willump, +7.1%], [Yo..."
3,"[[Renekton, +7.7%], [Akali, +5.7%], [Dr. Mundo...","[[Twisted Fate, +6.4%], [Ryze, +5.1%], [Neeko,...","[[Volibear, +10.3%], [Xerath, +8.7%], [Jax, +6...","[[Corki, +7.4%], [Jayce, +7.0%], [LeBlanc, +5....","[[Yuumi, +4.9%], [Thresh, +4.8%], [Nautilus, +...","[[Viego, +5.8%], [Jarvan IV, +5.1%], [Lee Sin,...","[[LeBlanc, +8.8%], [Vladimir, +6.0%], [Yasuo, ...","[[Vex, +6.6%], [Yasuo, +2.3%], [Viktor, +1.3%]]","[[Draven, +5.2%], [Ziggs, +2.9%], [Samira, +2....","[[Aphelios, +9.8%], [Draven, +6.5%], [Kai'Sa, ...",...,"[[Twisted Fate, +7.2%], [Ryze, +5.4%], [Mordek...","[[Darius, +4.7%], [Gangplank, +4.7%], [Sion, +...","[[Swain, +7.3%], [Brand, +6.6%], [Morgana, +5....","[[Rammus, +4.9%], [Rengar, +4.0%], [Sejuani, +...","[[Corki, +10.4%], [Ryze, +8.1%], [Jarvan IV, +...","[[Kalista, +6.2%], [Varus, +5.8%], [Aphelios, ...","[[Caitlyn, +7.0%], [Jhin, +3.4%], [Zeri, +1.5%...","[[Rakan, +6.6%], [Viktor, +5.9%], [Yuumi, +3.6...","[[Corki, +9.2%], [Syndra, +7.8%], [Akali, +4.2...","[[Morgana, +4.5%], [Nami, +3.9%], [Pyke, +3.5%..."
4,"[[Wukong, -4.9%], [Kayle, -4.4%], [Darius, -4....","[[Zilean, -5.4%], [Aurelion Sol, -4.5%], [Talo...","[[Galio, -7.0%], [Sion, -6.5%], [Riven, -5.0%]...","[[Veigar, -6.8%], [Anivia, -5.2%], [Yasuo, -3....","[[Janna, -8.2%], [Soraka, -7.4%], [Morgana, -4...","[[Kha'Zix, -4.6%], [Nunu & Willump, -4.2%], [E...","[[Kassadin, -5.4%], [Akali, -4.6%], [Veigar, -...","[[Ahri, -2.4%]]","[[Ashe, -4.7%], [Veigar, -4.3%], [Zeri, -3.7%]...","[[Miss Fortune, -2.8%], [Zeri, -2.1%], [Jinx, ...",...,"[[Ahri, -4.2%], [Garen, -3.9%], [Vex, -3.8%], ...","[[Shen, -7.1%], [Gwen, -5.9%], [Urgot, -4.6%],...","[[Alistar, -5.0%], [Zilean, -4.5%], [Nautilus,...","[[Kayn, -6.9%], [Fiddlesticks, -3.2%], [Vi, -3...","[[Kha'Zix, -7.3%], [Nidalee, -6.6%], [Master Y...","[[Ziggs, -5.2%], [Kog'Maw, -5.1%], [Veigar, -3...","[[Vayne, -4.4%], [Ezreal, -1.4%]]","[[Zyra, -6.5%], [Brand, -6.3%], [Veigar, -5.4%...","[[Qiyana, -3.0%], [Katarina, -2.3%], [Vex, -2....","[[Blitzcrank, -6.9%], [Janna, -4.7%], [Nautilu..."

In [5]:
#transposes df, pulls only "best with" column, expands
temp = imported_data_df.T[best_with].explode().to_frame().reset_index().rename(columns={'index':'champion'})
# TODO: either add this as necessary too all var's
del imported_data_df
#//
temp

    champion                        2
0     Aatrox          [Veigar, +6.8%]
1     Aatrox         [Evelynn, +6.7%]
2     Aatrox          [Soraka, +6.3%]
3     Aatrox          [Xerath, +5.3%]
4     Aatrox             [Vex, +5.2%]
..       ...                      ...
749     Zyra          [Qiyana, +7.4%]
750     Zyra  [Nunu & Willump, +7.1%]
751     Zyra            [Yone, +5.1%]
752     Zyra           [Urgot, +4.3%]
753     Zyra            [Sion, +3.7%]

[754 rows x 2 columns]

In [6]:
temp2 = temp.join(pd.DataFrame(temp[best_with].to_list(),columns=['other_champion','synergy'])).drop(best_with,axis=1)
temp2['synergy'] = temp2['synergy'].str.rstrip('%').astype('float')/100.0
# TODO
del temp
#//
temp2

    champion  other_champion  synergy
0     Aatrox          Veigar    0.068
1     Aatrox         Evelynn    0.067
2     Aatrox          Soraka    0.063
3     Aatrox          Xerath    0.053
4     Aatrox             Vex    0.052
..       ...             ...      ...
749     Zyra          Qiyana    0.074
750     Zyra  Nunu & Willump    0.071
751     Zyra            Yone    0.051
752     Zyra           Urgot    0.043
753     Zyra            Sion    0.037

[754 rows x 3 columns]

In [140]:
from itertools import combinations
from itertools import permutations
import json
convert = json.load(open('data/champ_full_to_codename.json', 'r'))

In [141]:
#ensure all names are codenames
synergy_df = temp2.copy()
for i in range(len(temp2)):
    synergy_df['other_champion'][i] = convert[temp2['other_champion'].iloc[i]]
# synergy_df = temp2
# TODO
del convert, temp2
#//
synergy_df

C:\Users\jonfr\AppData\Local\Temp/ipykernel_2964/2921513733.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  synergy_df['other_champion'][i] = convert[temp2['other_champion'].iloc[i]]

    champion other_champion  synergy
0     Aatrox           Fizz    0.088
1     Aatrox      Lissandra    0.069
2     Aatrox        Nidalee    0.055
3     Aatrox             Vi    0.055
4     Aatrox          Leona    0.042
..       ...            ...      ...
754     Zyra           Nunu    0.121
755     Zyra         Akshan    0.067
756     Zyra          Nasus    0.056
757     Zyra           Jhin    0.054
758     Zyra          Shaco    0.049

[759 rows x 3 columns]

In [142]:
import random
all_champs = json.load(open('data/all_champs.json', 'r'))

In [156]:
random.seed(44)
champs_1 = random.choices(all_champs,k=10)
champs_2 = random.choices(all_champs,k=10)
champs_3 = random.choices(all_champs,k=10)
champs_4 = random.choices(all_champs,k=10)
champs_5 = random.choices(all_champs,k=10)
#
# del all_champs

In [165]:
# https://stackoverflow.com/questions/19744542/itertools-product-eliminating-repeated-elements
# gives all unique combinations of multiple lists
def uprod(*seqs):
    def inner(i):
        if i == n:
            yield tuple(result)
            return
        for elt in sets[i] - seen:
            seen.add(elt)
            result[i] = elt
            for t in inner(i+1):
                yield t
            seen.remove(elt)

    sets = [set(seq) for seq in seqs]
    n = len(sets)
    seen = set()
    result = [None] * n
    for t in inner(0):
        yield t

pared_champs_combos = uprod(champs_1,champs_2,champs_3,champs_4,champs_5)
# pared_champs_combos = list(uprod(champs_1,champs_2,champs_3,champs_4,champs_5))

# TODO should be a factor 
# len(pared_champs_combos)

In [158]:
all_combo_scores = list()
idx = 0
for combo in pared_champs_combos:

    #instantiate an empty list for the given champ combo
    all_combo_scores.append(list())

    # ? currently ~80-90 seconds per 10000 combos
    # //
    if idx == 10:
        break

    for champ1, champ2 in permutations(combo,2):
        try:
            synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
            all_combo_scores[idx].append(synergy_score)
        except:
            continue
    idx += 1
    # for champ1 in combo:
    #     for champ2 in combo:
    #         try:
    #             synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
    #             all_combo_scores[idx].append(synergy_score)
    #         except:
    #             continue


combo_score_sums_w_index = [(sum(scores),idx) for idx, scores in enumerate(all_combo_scores)]

#free up memory
del all_combo_scores

#sorts by descending order
combo_score_sums_w_index.sort(key = lambda x: x[0], reverse=True)

pared_champs_combos = list(pared_champs_combos)

for i in range(10):
    print("Combo: ", pared_champs_combos[combo_score_sums_w_index[i][1]], "\nScore: ",combo_score_sums_w_index[i][0])

# TODO combine scores with pared_champs and export variable to JSON
# TODO convert to function

Combo:  ('Nautilus', 'Zoe', 'Azir', 'Lucian', 'Nunu')
Score:  0.589
Combo:  ('Nautilus', 'Zoe', 'MissFortune', 'Lucian', 'Nunu')
Score:  0.542
Combo:  ('Nautilus', 'Zoe', 'Zac', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Xayah', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Camille', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Zoe', 'Kindred', 'Lucian', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Amumu', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Renekton', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Zeri', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005
Combo:  ('Nautilus', 'Leblanc', 'Brand', 'TwistedFate', 'Nunu')
Score:  0.49100000000000005

In [166]:
all_combo_scores = pd.DataFrame()
all_combo_scores['champs'] = None
all_combo_scores['scores'] = None
all_combo_scores['total_score'] = None
idx = 0
for combo in pared_champs_combos:

    # ? currently ~80-90 seconds per 10000 combos
    # //
    if idx == 100:
        break

    scores = list()
    for champ1, champ2 in permutations(combo,2):
        try:
            synergy_score = synergy_df.loc[(synergy_df.champion == champ1) & (synergy_df.other_champion == champ2)]['synergy'].iloc[0]
            scores.append(synergy_score)
        except:
            continue
    # print(scores)
    idx += 1

    all_combo_scores = all_combo_scores.append({'champs':combo,'scores':scores,'total_score':sum(scores)},ignore_index=True)


all_combo_scores.sort_values('total_score',inplace=True,ascending=False)


all_combo_scores

,champs,scores,total_score
28,"(DrMundo, Kalista, Amumu, Soraka, Nunu)","[0.083, 0.083]",0.166
67,"(DrMundo, Kalista, Amumu, Fiddlesticks, Thresh)",[0.071],0.071
47,"(DrMundo, Kalista, Amumu, Hecarim, Quinn)",[0.064],0.064
15,"(DrMundo, Kalista, Amumu, Lucian, Shaco)",[0.062],0.062
78,"(DrMundo, Kalista, Amumu, Sion, Shaco)",[0.062],0.062
...,...,...,...
35,"(DrMundo, Kalista, Amumu, Soraka, Samira)",[],0
34,"(DrMundo, Kalista, Amumu, Soraka, Gragas)",[],0
32,"(DrMundo, Kalista, Amumu, Soraka, Udyr)",[],0
31,"(DrMundo, Kalista, Amumu, Soraka, Thresh)",[],0
99,"(DrMundo, Kalista, Renekton, Lucian, Rengar)",[],0

In [22]:
#idx break = 10000
#seed = 43

# Combo:  ('Anivia', 'Khazix', 'Rakan', 'Urgot', 'Karma') 
# Score:  0.35200000000000004
# Combo:  ('Anivia', 'TwistedFate', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.35000000000000003
# Combo:  ('Anivia', 'Vayne', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.34400000000000003
# Combo:  ('Diana', 'Braum', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.339
# Combo:  ('Anivia', 'Khazix', 'Rakan', 'Urgot', 'Volibear') 
# Score:  0.29400000000000004
# Combo:  ('Anivia', 'Evelynn', 'Khazix', 'Urgot', 'Vayne') 
# Score:  0.294
# Combo:  ('Anivia', 'Olaf', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Braum', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Kennen', 'Khazix', 'Urgot', 'Karma') 
# Score:  0.288
# Combo:  ('Anivia', 'Khazix', 'Annie', 'Urgot', 'Karma') 
# Score:  0.288

In [163]:
cols = [''.join(['champ',str(i)]) for i in range(5)]
temp3 = all_combo_scores.join(pd.DataFrame(all_combo_scores['champs'].to_list(),columns=cols)).drop('champs',axis=1)
temp3

    scores total_score champ0 champ1 champ2        champ3    champ4
9  [0.071]       0.071   Nunu    Zoe   Azir  Fiddlesticks  Malphite
4  [0.066]       0.066   Nunu    Zoe   Azir     Seraphine      Udyr
7  [0.047]       0.047   Nunu    Zoe   Azir  Fiddlesticks    Rengar
0       []           0   Nunu    Zoe   Azir  Fiddlesticks    Thresh
1       []           0   Nunu    Zoe   Azir     Seraphine    Samira
2       []           0   Nunu    Zoe   Azir  Fiddlesticks     Quinn
3       []           0   Nunu    Zoe   Azir     Seraphine    Thresh
5       []           0   Nunu    Zoe   Azir     Seraphine     Shaco
6       []           0   Nunu    Zoe   Azir     Seraphine    Gragas
8       []           0   Nunu    Zoe   Azir  Fiddlesticks   Kalista

In [7]:
#team specific score lookup

champs = ['Lucian','Evelynn','Annie','Qiyana','Karma']
data = pd.read_csv('data/scores_test.csv')

# print(temp3[(temp3.champ0.isin(champs)) & (temp3.champ1.isin(champs)) & (temp3.champ2.isin(champs)) & (temp3.champ3.isin(champs)) & (temp3.champ4.isin(champs))])
data

,scores,total_score,champ0,champ1,champ2,champ3,champ4
0,"[0.06, 0.10400000000000001, 0.079, 0.104000000...",0.402,Thresh,Ashe,Mordekaiser,XinZhao,Bard
1,"[0.06, 0.10400000000000001, 0.079, 0.104000000...",0.402,Thresh,Ashe,Taliyah,Shen,Sona
2,"[0.06, 0.10400000000000001, 0.079, 0.104000000...",0.402,Thresh,Nasus,Taliyah,Sylas,Bard
3,"[0.06, 0.10400000000000001, 0.079, 0.104000000...",0.402,Gangplank,Udyr,Sett,Mordekaiser,Thresh
4,"[0.06, 0.10400000000000001, 0.079, 0.104000000...",0.402,Gangplank,Nasus,Taliyah,Rakan,Bard
...,...,...,...,...,...,...,...
52493,[],0.000,Gangplank,Udyr,Mordekaiser,Lux,Jinx
52494,[],0.000,Veigar,Udyr,Volibear,MissFortune,Jinx
52495,[],0.000,Thresh,Udyr,Gnar,Aatrox,Jinx
52496,[],0.000,Veigar,Urgot,Sion,Udyr,Jinx
52497,[],0.000,Shen,Urgot,Mordekaiser,Jax,Caitlyn